[submodule "Luxon"]
	path = Luxon
	url = https://github.com/tanukifurhire/luxonserver.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
